@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

html{ box-sizing: border-box; height: 100%;}

*, *::before, *::after{ box-sizing: inherit; }

body{
    background-color: var(--Off-white);
    font-family: 'Inter', sans-serif;
    height: 100vh;
}

/* Utilities */
img{
    height: auto;
    width: 100%;    
}

header{
    align-items: center;
    display: flex;
    height: 90px;
    justify-content: space-between;
    width: 100%;
}

ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    margin: 0px;
    padding: 0px;
}

p{
    font-size: 15px;

}
.nav-bar ul li a{
    color: var(--Dark-grayish-blue);
    display: block;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}

.nav-bar ul li a:hover{
    color: var(--Soft-red);
}

.toggle{
    display: none;
}


.container{
    margin-bottom: 5rem;
    margin: 0 auto;
    width: 95%;
}

@media (max-width: 1439px) {
    header{
        padding: 0;
    }
    .img-mobile{
        display: block;
    }
    .img-desktop{
        display: none;
    }

    .overlay {
        background-color: rgba(0, 0, 0, 75%);
        display: block;
        height: 100vh;
        left: 0;
        position: absolute;
        position: fixed;
        top: 0;
        width: 100%;
      } 
    
    .toggle{
        align-self: center;
        background-image: url('./assets/images/icon-menu.svg');
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
        height: 25px;
        width: 40px;
    }

    .toggle-close{
        background-image: url('./assets/images/icon-menu-close.svg');
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
        height: 30px;
        width: 40px;
        z-index: 0;
    }

    .nav-bar{
        display: none;
    }

    .nav-menu{
        background-color: var(--Off-white);
        display: block;
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        transition: 0.3s;
        width: 70vw;
    }

    .nav-menu ul {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 30vh;
        justify-content: space-around;
        margin: 140px 0px 0px 30px;
    }
}

.active{
    overflow: hidden;
}

/* Main */
.main{
    display: grid;
    justify-content: center;
    row-gap: 2rem;
}

h1{
    font-size: 3rem;
    font-weight: 800;
    line-height: 3rem;
}

.main-container{
    display: grid;
    row-gap: 1rem;
}

.main-container-description p{
    color: var(--Dark-grayish-blue);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5rem;
    margin: 0px;
    margin-bottom: 2.4rem;
}

.header--button{
    background-color: var(--Soft-red);
    color: var(--Off-white);
    font-size: 13px;
    font-weight: 500; 
    letter-spacing: 5px;
    margin: 0px;
    padding: 0px;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.header--button:hover{
    background-color: var(--Very-dark-blue);
}

/* Card New Section */

.card--news{
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
    margin-top: 4rem;
    padding: 30px 25px 5px;
}

.card--news h3{
    color: var(--Soft-orange);
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.card--news h4{
    font-size: 1.2rem;
}

.card--news p{
    color: var(--Dark-grayish-blue);    
}

.article h4:hover{
    color: var(--Soft-orange);
    cursor: pointer;
}

  .article{
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .article--paragraph::after {
    border-top: 1px solid var(--Dark-grayish-blue); 
    content: "";
    display: inline-block;
    height: 0.5em;
    position: relative;
    top: 15px;
    width: 100%;
  }

  /*  Card Info */

  .informations{
    display: flex;
    flex-direction: column; 
    margin-top: 4rem;
    row-gap: 1rem;
  }

  .informations  img{
        max-width: 100%;
        height: 100%;   
    }

  .card-info{
    column-gap: 1rem;
    display: grid;
    grid-template-columns: 1.3fr 3fr;
  }

  .card-info h3{
    font-size: 2rem;
    color: var(--Grayish-blue);
  }

  .info--title{
    color: var(--Very-dark-blue);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px 0px 8px;
    padding: 0;
  }

  .info--paragraph{
    color: var(--Dark-grayish-blue);
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
  }

  .img-desktop{
    display: none;
}

  /* Desktop */

  @media (min-width: 1440px) {
    .container{
        margin: 0 auto;
        padding: 2rem 0rem;
        width: min(1240px, 80%);
    }

    .card--news{
        margin-top: 0rem;
    }

    .nav-bar ul{
        column-gap: 2rem;
        display: flex;
    }
    
    .section{
        column-gap: 2rem;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .img-mobile{
        display: none;
    }

    .img-desktop{
        display: block;
        width: max(50rem, 100%);
    }

    img{
        height: 100%;   
        max-width: 100%;
    }

    h1{
        font-size: 3.3rem;
        line-height: 3.2rem;
        margin-right: 1rem;
    }

    .main-container{
        column-gap: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .main-container-description p {
        text-align: left;
    }

    .card--news h3{
        font-size: 2.5rem;
    }

    .article--paragraph::after {
        top: 20px;
      }
      .article--paragraph{
        line-height: 1.6rem;
      }

    .informations{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
    }

    .informations  img{
        height: auto;   
        max-width: 100%;
    }

  }