@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);
    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

html{ box-sizing: border-box; height: 100%;}

*, *::before, *::after{ box-sizing: inherit; }

body{
    font-family: 'Inter', sans-serif;
    height: 100%;
}

/* Utilities */
img{
    max-width: 100%;    
    height: auto;
}

.container{
    margin: 0 auto;
    width: 95%;
}

header{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4{
    margin: 0px;
    padding: 0px;
}

p{
    font-size: 15px;

}
.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: black;
    font-size: 18px;
    transition: 0.2s;
    margin: 0 5px;
    text-decoration: none;
}

.nav-bar ul li a.active{
    color: #eed;
}

@media (max-width: 1320px) {
    header{
        padding: 0 50px;
    }
}

@media (max-width: 1100px) {
    header{
        padding: 0 30px;
    }
}

@media (max-width: 900px) {
    header{
        padding: 0;
    }
    .overlay {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 75%);
        display: block;
        position: fixed;

      } 
    
    .toggle{
        background-image: url('/assets/images/icon-menu.svg');
        background-repeat: no-repeat;
        align-self: center;
        width: 40px;
        height: 25px;
        cursor: pointer;
    }

    .toggle-close{
        background-image: url('/assets/images/icon-menu-close.svg');
        background-repeat: no-repeat;
        width: 40px;
        height: 30px;
        display: block;
        cursor: pointer;
        z-index: 0;
    }

    .nav-bar{
        display: none;
    }

    .nav-menu{
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70vw;
        background-color: var(--Off-white);
        transition: 0.3s;
    }

    .nav-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 30vh;
        margin: 140px 0px 0px 30px;
        align-items: flex-start;
    }
}

.active{
    overflow: hidden;
}

/* Main */
.main{

}

.main-container{
    margin-top: 1rem;
}

h1{
    line-height: 3rem;
    font-size: 2.9rem;
    font-weight: 800;
}

.main-container {
    margin-bottom: 3rem;
}

.main-container p {
    font-size: 15px;
    font-weight: 500;
    color: var(--Dark-grayish-blue);
    line-height: 1.6rem;
    margin-bottom: 2rem;

}

.header--button{
    padding: 15px 30px;
    background-color: var(--Soft-red);
    text-decoration: none;
    color: var(--Off-white);
    letter-spacing: 5px;
    font-weight: 600;
}


/* Card New Section */

.card--news{
    margin-top: 4rem;
    padding: 25px 20px 5px;
    background-color: var(--Very-dark-blue);
    color: var(--Off-white);
}

.card--news h3{
    color: var(--Soft-orange);
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.card--news h4{
    font-size: 1.2rem;
}

.card--news p{
    color: var(--Grayish-blue);    
}

  .article{
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  
  .article--paragraph::after {
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 100%;
    position: relative;
    top: 15px;
    border-top: 1px solid var(--Dark-grayish-blue); 
  }

  /*  Card Info */

  .informations{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
  }

  .card-info{
    display: grid;
    grid-template-columns: 1.3fr 3fr;
    column-gap: 1rem;
  }

  .card-info h3{
    font-size: 2rem;
    color: var(--Grayish-blue);
  }

  .info--title{
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-size: 1.2rem;
    margin: 10px 0px 8px;
    padding: 0;
  }

  .info--paragraph{
    margin: 0;
    padding: 0;
    line-height: 1.5rem;
    color: var(--Dark-grayish-blue);
  }
